/* Navigation Bar Styling */

.topnav {
    background-color: white;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: double;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(170, 170, 170);
    color: black;
}

.topnav a.active {
    background-color: rgb(170, 170, 170);
    color: black;
}

/* Text Styling */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
}

p1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
}

p2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    text-align: center;
}